h3
  text-align: center
  margin-top: 100px
.feedback
  display flex
  justify-content space-between

  &__name
    padding-top: 20px
    input
      margin-top: 5px
      width: 350px
      &:hover
        border 2px solid black

      &:active
        border 3px solid black
    &-text
      font-weight: 700
      &::after
        content ':'
  &__check
    width: 40%
    margin-top: 30px
    form
      display flex
      justify-content space-between
      align-items: center

    input
      margin-right: 7px

.select__form

  select
    display block
    width: 100%
    margin-top: 20px

  p
    font-weight: 700
    font-style italic
    padding-top: 10px

    &:after
      content ':'
  textarea
    margin-top: 20px
    display block
    width: 100%
    font-size: 14px
.form__end
  display flex
  justify-content space-between
  align-items: center
  margin-top: 20px
  &-left
    display: flex
    justify-content space-between
    align-items: center
  span
    margin-left: 10px
.btn
  display block
.footer
  margin-top: 50px
  border-top 1px solid silver
  padding-top: 20px
  display flex
  flex-direction column
  justify-content center
  align-items center
  &__links
    display flex
    justify-content space-between
    width: 150px
    a
      color red
      font-size: 20px
      padding-left: 0
      &:hover
        color blue
        padding-left: 3px
        transition 0.5s
  &__text
    margin-top: 10px
    font-weight: 300
    font-size: 14px








