
.header
  display flex
  justify-content space-between
  align-items center
  padding-top: 5px
  border-bottom 2px solid #D3D3D3
  &__menu-list
    display flex
    justify-content space-between
    align-items center
    list-style-type none
    &>li>a
      margin-left: 20px
      color black
      font-size 14px
      list-style none
      letter-spacing 2px
      transition .5s

    & > li:hover
      font-weight bold

  span
    text-transform: uppercase;
    font-size: 16px
    font-weight: bold
    list-style-type none

  &__links

    &-list
      display flex
      justify-content space-between
      align-items center

      &>li>a
        margin-left: 20px
        color silver
        transition .5s
        &:hover
          color black
          transition .5s











